<h1>Log in</h1>
<p>This site is an example of how one can implement role based authentication in Angular applications as outlined in<a href="http://www.frederiknakstad.com/authentication-in-single-page-applications-with-angular-js/"> this blogpost</a>. All the code can be found in<a href="https://github.com/fnakstad/b-job"> this GitHub repository</a>. You can either register a new user, log in with one of the two predefined users...</p>
<ul>
    <li>admin/123</li>
    <li>user/123</li>
</ul>
<hr/>
<form ng-submit="login()" name="loginForm" role="form" class="form-horizontal">
    <div class="form-group">
        <label for="username" class="control-label col-sm-2">Username</label>
        <div class="col-sm-10">
            <input type="text" data-ng-model="username" placeholder="Username" name="username" required="required" autofocus="autofocus" class="form-control" />
        </div>
    </div>
    <div class="form-group">
        <label for="password" class="control-label col-sm-2">Password</label>
        <div class="col-sm-10">
            <input type="password" data-ng-model="password" placeholder="Password" name="password" required="required" class="form-control" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <div class="checkbox">
                <label for="rememberme" class="checkbox">
                    <input type="checkbox" data-ng-model="rememberme" name="rememberme" />Remember me</label>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" data-ng-disabled="loginForm.$invalid" class="btn btn-default">Log in</button>
        </div>
    </div>
</form>
<hr/>
<p>... or use one of them fancy social logins:</p>
<div class="btn-group"><a href="" data-ng-click="loginOauth('facebook')" class="btn btn-default"><i class="fa fa-facebook-square"></i> Facebook</a><a href="" data-ng-click="loginOauth('twitter')" class="btn btn-default"><i class="fa fa-twitter"></i> Twitter</a><a href="" data-ng-click="loginOauth('google')" class="btn btn-default"><i class="fa fa-google-plus-square"></i> Google</a><a href="" data-ng-click="loginOauth('linkedin')" class="btn btn-default"><i class="fa fa-linkedin"></i> LinkedIn</a>
</div>