<!DOCTYPE html>
<html lang="en" data-ng-app="b-job">

<head>
    <meta charset="utf-8">
    <title>B-job</title>
    <link rel="stylesheet" href="/css/app.css">
    <link href="/components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/components/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- This is needed because Facebook login redirects add #_=_ at the end of the URL-->
    <script type="text/javascript">
        if (window.location.href.indexOf('#_=_') > 0) {
            window.location = window.location.href.replace(/#.*/, '');
        }
    </script>
</head>

<body data-ng-cloak>
    <div data-ng-controller="NavCtrl" class="navbar">
        <div class="navbar-inner">
            <div class="container-fluid">
                <ul class="nav nav-tabs">
                    <li data-access-level="accessLevels.anon" active-nav><a href="/login">Log in</a>
                    </li>
                    <li data-access-level="accessLevels.anon" active-nav><a href="/register">Register</a>
                    </li>
                    <li data-access-level="accessLevels.user" active-nav><a href="/">Home</a>
                    </li>
                    <li data-access-level="accessLevels.user" active-nav="nestedTop"><a href="/private">Private</a>
                    </li>
                    <li data-access-level="accessLevels.admin" active-nav><a href="/admin">Admin</a>
                    </li>
                    <li data-access-level="accessLevels.user"><a href="" data-ng-click="logout()">Log out</a>
                    </li>
                    <div id="userInfo" data-access-level="accessLevels.user" class="pull-right">Welcome&nbsp;<strong>{{ user.username }}&nbsp;</strong><span data-ng-class="{&quot;label-info&quot;: user.role.title == userRoles.user.title, &quot;label-success&quot;: user.role.title == userRoles.admin.title}" class="label">{{ user.role.title }}</span>
                    </div>
                </ul>
            </div>
        </div>
    </div>
    <div data-ui-view class="container"></div>
    <div id="alertBox" data-ng-show="error" class="alert alert-danger">
        <button type="button" data-ng-click="error = null;" class="close">&times;</button><strong>Oh no!&nbsp;</strong><span data-ng-bind="error"></span>
    </div>
    <script src="/components/angular/angular.min.js"></script>
    <script src="/components/angular-cookies/angular-cookies.min.js"></script>
    <script src="/components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="/js/routingConfig.js"></script>
    <script src="/js/app.js"></script>
    <script src="/js/services.js"></script>
    <script src="/js/controllers.js"></script>
    <script src="/js/filters.js"></script>
    <script src="/js/directives.js"></script>
    <!-- Partial views... Load up front to make transitions smoother-->

    <script type="text/ng-template" id="404">
        include partials / 404
    </script>
    <script type="text/ng-template" id="404">
        include partials / landing
    </script>
    <script type="text/ng-template" id="admin">
        include partials / admin
    </script>
    <script type="text/ng-template" id="home">
        include partials / home
    </script>
    <script type="text/ng-template" id="login">
        include partials / login
    </script>
    <script type="text/ng-template" id="private/layout">
        include partials / private / layout
    </script>
    <script type="text/ng-template" id="private/home">
        include partials / private / home
    </script>
    <script type="text/ng-template" id="private/nested">
        include partials / private / nested
    </script>
    <script type="text/ng-template" id="private/nestedAdmin">
        include partials / private / nestedAdmin
    </script>
    <script type="text/ng-template" id="register">
        include partials / register
    </script>
</body>

</html>